{% extends 'base.html' %}

{% block content %}
 <!-- Heading -->

<center><h1>Shoe Style Questions</h1><center>

    <!-- Multiple choice questons for style -->

        <form action="grade.php" method="post" id="quiz">
                <P>1. Choose the one that best relates to you:<BR>
                    <input type="checkbox" name="1.Choose the one that best relates to you" value="Chill">Chill<BR>
                    <input type="checkbox" name="1.Choose the one that best relates to you" value="Angery">Angery<BR>
                    <input type="checkbox" name="1.Choose the one that best relates to you" value="Happy">Happy<BR>
                    <input type="checkbox" name="1.Choose the one that best relates to you" value="Questionable">Questionable<BR>
                    </p>
                    
                    <P>2. Pick the one that is most like you:<BR>
                    <input type="checkbox" name="2. Pick the one that is most like you" value="Sincerity">Sincerity<BR>
                    <input type="checkbox" name="2. Pick the one that is most like you" value="Loving">Lving<BR>
                    <input type="checkbox" name="2. Pick the one that is most like you" value="Generous">Generous<BR>
                    <input type="checkbox" name="2. Pick the one that is most like you" value="Mellow">Mellow<BR>
                    </p>
                    
                    <P>3. Pick the material that you are attracted to the most:<BR>
                    <input type="checkbox" name="3. Pick the material that you are attracted to the most" value="Diamonds">Diamonds<BR>
                    <input type="checkbox" name="3. Pick the material that you are attracted to the most" value="Metallic">Metallic<BR>
                    <input type="checkbox" name="3. Pick the material that you are attracted to the most" value="Glass">Glass<BR>
                    <input type="checkbox" name="3. Pick the material that you are attracted to the most" value="Stone">Stone<BR>
                    </p>
                    
                    <br>
                    
             <!-- Button that deletes the answers -->
                    <input class='btn btn-primary' type="reset" value="Clear Form">
                    </form>
                    </body>
                    </html>
                    <form>
                        <br>
                 <!-- Button that takes the user to the results page -->

                            <button class='btn btn-primary'  formaction="real_results" type='submit'>Submit Quiz</button>
               


{% endblock %}